.frontpage
{
    overflow-x: hidden;
    /* overflow-y: hidden; */
    width: 100vw;
   
    background: linear-gradient(to bottom, #0f0f0f 0%,  #040404 100%);
    background-position: center;

}
.frontpage .background
{
     background: url('../images/bg1.png');
     /* opacity: 0.6; */
}