.landing
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #252525 0%,  #040404 100%);
    overflow: hidden;
   
}
.landing .name{
    letter-spacing: 3px;
}
.landing .skills{
    letter-spacing: 2px;
}
.landing .hi 
{
    letter-spacing: 3px;
}
.landing button.scroll_down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
   left: 50vw;
    height: 50px;
    width: 25px;
    bottom: 60px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
   
  }
 .landing button.scroll_down:before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scroll_down_btn-animation 2s infinite;
    animation: scroll_down_btn-animation 2s infinite;
    box-sizing: border-box;
  }
  
  @keyframes scroll_down_btn-animation {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
.landing .hi img{
    width: 30px;
   
}
.landing .col-sm-6{
    padding:0px
}
.landing .margin
{
    margin-top: 5vh;
}
.landing .col-sm-3
{
    padding: 0px;
}
.landing .col-sm-2
{
    padding:0px;
    text-align:center;
}
.landing .col-sm-3 img{
    width: 50%;
}
.landing .display2
{
    display:none
}
.landing .bg
{
    background:url('../../images/bg1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.landing .iconBg
{
    background-image: url('../../images/bg1.png');
    
    background-size:cover ;
    background-position:center;
}
.landing .skills
{
    color: white;
    text-align: center;
    font-size: 1.2vw;
    font-family: 'Montserrat';
    border-top: 1px solid #E784A7;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    
}
.landing .hi
{
    color: white;
    text-align: center;
    font-size: 1.2vw;
    font-family: 'Montserrat';
    margin-top: 18vh;
}
.landing .bg4
{
    width: 25vw;
    height: 25vw;
    border:1px;
    border-radius:50%;
    position:absolute;
    left: 12vw;
    top:20vh;
   
    background: url("../../images/me2.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0 7px 16px rgba(255,255,255,0.3), 0 5px 5px rgba(255,255,255,0.2);
}
.landing .bg2
{
    width: 25vw;
    height: 25vw;
    border: 2px solid white;
    position:absolute;
    
    left: 12vw;
    top:20vh;
    border-radius: 2px;
    animation:move 8s infinite;
}

.landing .bg3{
    width: 25vw;
    height: 25vw;
    border: 2px solid white;
    position:absolute;
    border-radius: 2px;
    left: 12vw;
    top:20vh;

    animation:move2 8s infinite;
}
.landing .name
{
    color: white;
    text-align: center;
  
    font-size: 7vw;
    line-height:130px;
    font-family: myfont;
}
.landing .iconlayer1
{
    width: 100%;
}
.landing .special
{
    margin-top: 10vh;
}
.iconlayer1 img
{
    width: 50%;
}

.iconlayer1
{
    text-align: center;
    margin-top:20px;
}

.landing .iconBg
{
   margin-top: 8vh;
}    
@keyframes move {
    0%   {transform: rotateZ(0deg);}
    50%  {transform: rotateZ(180deg);}
    100% {transform: rotateZ(360deg);}
  }
  
@keyframes move2 {
    0%   {transform: rotateZ(0deg);}
    50%  {transform: rotateZ(-180deg);}
    100% {transform: rotateZ(-360deg);}
    /* 75% {transform: rotateZ(-180deg);}
    100% {transform: rotateZ(0deg);} */
  }
  .landing .dash
  {
      color:#E784A7;font-weight:500;font-size:20px !important
  }
  
  
  @media only screen and (max-width: 1025px) {
     .landing .bg2
     {
         top:30vh
     }
     .landing .bg3
     {
         top:30vh
     }
     .landing .dash{
         font-size:10px;
     }
     .landing .bg4
     {
         top:30vh
     }
     .landing .name
     {
        line-height:100px;
     }
     .landing .hi{
         font-size: 2vw;
         margin-top: 26vh;
     }
     .landing .skills
     {
         font-size: 1.5vw;
         margin-left: 50px;
         margin-right: 50px;
     }
  }
  @media only screen and (max-width: 960px) {
    .landing button.scroll_down {
       width: 20px;
       height: 40px;
    }
  }
  @media only screen and (max-width: 768px) {
    .landing .bg2
    {
        top:35vh
    }
    .landing .bg3
    {
        top:35vh
    }
    .landing .bg4
    {
        top:35vh
    }
    .landing .name
     {
        line-height:15vh ;
     }
     .landing .display3
     {
         display: none;
     }
     .landing .name{
         width: 100%;
       
     }
     .landing .line{
         width: 70%;
         margin-left: 8vw;
     }
     .landing .skills
     {
         font-size: 10px;
         margin-left: 5vh;
         margin-right: 5vh;
     }
     .landing .hi
     {
         font-size: 2vw;
     }
 }

 @media only screen and (max-width: 576px) {
    .landing .display{
        display:none
    }
    .landing .display2{
        display: block;
    }
    .landing .bg
    {
        width: 100vw;
    }
    .landing .bg2
    {
        width:40vw;
        height: 40vw;
        left: 30vw;
        top:20vh !important;
    }
    .landing .bg3
    {
      width:40vw;
      height: 40vw;
      left: 30vw;
      top:20vh !important;
    }
    .landing .img
     {
         height:40vh
     }
    .landing .bg4
    {
      width:40vw;
      height: 40vw;
      left: 30vw;
      top:20vh !important;
    }
    .landing .name{
     
       font-size: 8vw;
       line-height: 90px !important;
  
    }
    .landing .line{
      margin-top:0px;
      margin-left: 10vw;
      width: 80%;
    }
    .landing .skills
    {
        font-size:3vw;
        margin-top: 0vh;
        letter-spacing: 1px;
    }
    .landing .hi{
        font-size: 3vw;
        margin-top: 18vh;
    }
    .landing button.scroll_down {
        top:90vh;
        left:47vw;
    }
    @media only screen and (max-width: 376px) {
     .landing .hi{
         margin-top: 20vh;
         font-size: 4vw;
     }   
     .landing .skills
     {
         margin-left:3vw;
     }
     .landing .bg2{
        height:45vw;
        width: 45vw;
        left: 27vw;
     }
     .landing .bg3
     {
        height:45vw;
        width: 45vw;
        left: 27vw;
     }
     .landing .bg4{
        height:45vw;
        width: 45vw;
        left: 27vw;
     }  
    }
    @media only screen and (max-width: 320px) {
        .landing .skills{
            letter-spacing: 0.5px;
            margin-left: 5vw;
        }
    }
}