.projects
{
    background: linear-gradient(to top, #252525 0%,  #000000 50%);
    height:100vh;
    background-size: cover;;
    background-position:center;
  
}
.projects .bg2
{
    background: url('../images//bg1.png');
    height: 100vh;
}
.projects img{
    width: 37vw;
}
.projects .setting
{
    width: 100vw;
    height: 70vh;
}
.projects .bg
{
    width: 100%;
    height: 100vh;
    background:url('../images/bg.png') ;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    position: absolute;
}
.projects .heading
{
    color: white;
    font-family: myFont;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 50px;
    width: 100vw;
    padding-left:3vw;
}
.projects .content
{
    width: 20vw;
    border-bottom: 2px solid #d78ca7;
   
    margin-bottom: 50px;
}
@media screen and (max-width: 1024px) {
    .projects .content
    {
        width: 30vw;
    }
    .projects .heading
    {
        font-size: 25px;
    }
  }
  @media screen and (max-width: 576px) {
    .projects .content
    {
        width: 60vw;
        text-align: center;
    }
    .projects .heading
    {
        font-size: 6vw;
        padding-left: 20vw;
    }
    .projects img{
        width: 70vw;
    }
  }